.Card {
margin:15px;
padding:40px;
border: 1px solid rgb(235, 238, 240);
text-align: left;
font-size:18px;
overflow-wrap: break-word;
background-color: rgb(247, 249, 250);
border-radius:10px;
max-width: 400px;
  }

.posteo{
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(235, 238, 240);
  width: 100%;
  border-radius:10px;
}

.datosPost{
  padding: 10px;
}

input{
  padding: 5px;
  margin: 4px 0;
  box-sizing: border-box;
  margin-left: 30px;
}

.boton{
  padding: 10px;
  margin: 6px 0;
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
  width: 100%;
  text-align:center;
  font-size: inherit;
  border: white 2px solid;
  border-radius:10px;

}

.info{
  background-color: rgb(119 197 245);
  padding: 10px;
  border-radius:10px;
  margin: 3px;
}

.Card > div {
  display: flex;
  justify-content: space-between;
}

.dato{
  margin-left:20px;
  overflow-wrap: break-word;
  width: 490px;
}

a{
  text-decoration:none;
  color:inherit;
}

textarea{
  font-size: 20px;
  border-radius:10px;
  width:100%;
  min-height: 70px;
}