.App {
  text-align: center;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fijo{
  position: fixed;
  width: 100%;
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  z-index: 100;
}

.App-header {
  background-color: #282c34;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}

.zonaPosteos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  left: 250px;
  position: sticky;

}

.areaUsuario{
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 249, 250);
  margin: 15px;
  padding: 40px;  
  border: 1px solid rgb(235, 238, 240);
  border-radius:10px;
  position: absolute;  
  left: 0;
}

.contenedor{
  display: flex;
  align-items: flex-start;
  margin-top: 110px;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.logoApp{
  flex-direction: row;
  display: flex;
  align-items: flex-end;
}

.logoApp > * {
  margin: 10px;
  margin-bottom: 0;
}

.noCelu{
  margin: 10px;
  font-size: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*meda queries para cel */

@media (max-width: 760px) {

  .app{
  margin-left:0;
  }
  
  .App-header > * {
    margin-bottom:3px;
    margin-top:3px;
  }

  .logoApp > * {
    margin-bottom:3px;
    margin-top:3px;
  }

  .contenedor{
  flex-direction:column;
  align-items:center;
  margin-top:70px;
  }
  
  .areaUsuario{
  flex-direction:row;
  position:static;
  padding:10px;
  margin:8px;
  margin-bottom: 0px;
  }  
  
.zonaPosteos{
  position:static;
}

.noCelu{
  display: none;
}

.Card{
  padding:10px!important;
  margin:8px!important;
}

  }
  
